@font-face {
  font-family: primaryfontregular;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: primaryfontbold;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: primaryfontdemi;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Demi.otf");
}
.heroimage img {
  width: 100%;
  opacity: 85%;
}

.heroimage--h1 {
  position: absolute;
  color: #ffffff;
  top: 175px;
  font-size: 24px;
  left: 16px;
  font-family: primaryfontdemi;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.mainbio {
  margin: 16px;
  color: #323232;
}

.mainbio img {
  width: 100%;
}

.mainbio--quote {
  font-family: primaryfontdemi;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  margin-block: 16px;
}

.mainbio--quote2 {
  font-family: primaryfontdemi;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
}

.mainbio--para {
  font-family: primaryfontregular;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
}

.mainbio--h1 {
  font-family: primaryfontdemi;
  line-height: 32px;
  color: #323232;
  -webkit-margin-before: 24px;
          margin-block-start: 24px;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}

.mainbio--heading {
  font-family: primaryfontdemi;
  font-size: 14px;
  color: #323232;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.photos {
  margin: 20px 16px 0px;
  color: #323232;
  font-size: 24px;
  font-family: primaryfontdemi;
}

.photos img {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .heroimage--h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 175px 0 0 24px;
    line-height: 68px;
  }

  .mainbio {
    margin: 36px;
  }

  .mainbio--h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .mainbio--container {
    margin: 0 36px;
  }

  .mainbio--quote {
    font-size: 24px;
    line-height: 32px;
  }

  .mainbio--quote2 {
    font-size: 18px;
    line-height: 22px;
  }

  .mainbio--para {
    -moz-column-count: 2;
         column-count: 2;
    display: flex;
    gap: 50px;
    font-size: 14px;
    line-height: 22px;
  }

  .mainbio--heading {
    font-size: 24px;
    line-height: 32px;
  }

  .photos--sizing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .photos--sizing img {
    width: 28%;
    margin-bottom: 0px;
    padding: 12px;
  }

  .photos {
    margin: 0;
    background-color: azure;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .photos h1 {
    margin-left: 36px;
  }
}
@media (min-width: 1280px) {
  .heroimage--h1 {
    margin: 128px 0 0 120px;
  }

  .mainbio {
    margin: 24px 128px 16px;
  }

  .mainbio--container {
    margin: 0 70px;
  }

  .mainbio--container img {
    min-height: 300px;
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .photos h1 {
    margin-left: 128px;
  }

  .photos--sizing {
    margin: 0 60px;
  }

  .mainbio--quote {
    max-width: 81%;
  }
}/*# sourceMappingURL=bio.css.map */