$headerfooterbkgoundcolor: #323232;
$primaryfontcolor: #ffffff;
$secondaryfontcolor:#323232;
// $primaryfont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$tablet: 768px;
$desktop: 1280px;
$fontcoloronwhite: #323232;
$bordercolor: #E1E1E1;

@font-face {
    font-family: primaryfontregular;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: primaryfontbold;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: primaryfontdemi;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Demi.otf");
}

.heroimage {
    background-color: #323232;
    display: flex;
}

.heroimage img {
    width: 100%;
    opacity: 50%;
    // background-size: cover;
    // background-blend-mode: darken;
    // background: rgba(0, 0,0,0.7);
}

.heroimage--h1 {
    position: absolute;
    color: $primaryfontcolor;
    top: 175px;
    font-size: 24px;
    left: 16px;
    font-family: primaryfontdemi;
    font-weight: 600;
    // background-position: center;
    // background-size: cover;
    z-index: 1;
}

// mainbio starts here

.mainbio {
    margin: 16px;
    color: $secondaryfontcolor;
}

.mainbio img {
    width: 100%;
}

.mainbio--quote {
    font-family: primaryfontdemi;
    font-size: 13px;
    line-height: 18px;
    color: $fontcoloronwhite;
    margin-block: 16px;
}

.mainbio--quote2 {
    font-family: primaryfontdemi;
    font-size: 13px;
    line-height: 18px;
    color: $fontcoloronwhite;
}

.mainbio--para {
    font-family: primaryfontregular;
    font-size: 13px;
    line-height: 18px;
    color: $fontcoloronwhite;
}

.mainbio--h1{
    font-family: primaryfontdemi;
    line-height: 32px;
    color: $fontcoloronwhite;
    margin-block-start:24px ;
    margin-block-end: 16px;

}
.mainbio--heading {
    font-family: primaryfontdemi;
    font-size: 14px;
    color: $fontcoloronwhite;
    margin-block-end: 0;
}

.photos {
    margin: 20px 16px 0px;
    color: $fontcoloronwhite;
    font-size: 16px;
    font-family: primaryfontdemi;
}

.photos img {
    width: 100%;
    margin-bottom: 10px;
}

.commentbox {
    width: 95%;
    // height: 120px;
    border-top:1px solid $bordercolor;
    padding-top: 16px;
    
}

.leftPanelImg {
    width: 36px;
    height: 36px;
    // height: 60px;
    float: left;
    position: relative;
    bottom: -10px;
    

    img {
        width: 100%;
        border-radius: 50%;
        height: 34px;
    }

    span {
        img {
            position: relative;
            bottom: -10px;
        }
    }
}

.clear {
    clear: both;
}


form {
    display: grid;
    margin-left: 50px;
    p {
        margin-block-start: 0;
        margin-block-end: 0;
        color: #afafaf;
        font-family: primaryfontregular;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: -16px;
    }

    input {
        border: 1px solid #E1E1E1;
        padding: 0;
        height: 36px;
        border-radius: 2%; 
    }

    textarea {
        border: 1px solid #E1E1E1;
        padding: 0;
        border-radius: 2%; 
        margin-bottom: 16px;
    }

    button {
        background-color: #323232;
        color: $primaryfontcolor;
        border: none;
        border-radius: 2%;
        margin-bottom: 16px;

        h3 {
            margin: 8px;
            font-family: primaryfontregular;
        }

        
    }
}

#form {
    margin: 20px 16px 0px;

    .form--h1 {
        font-family: primaryfontregular;
    }
    
}

#commentcontainer1 {
    margin: 0 16px;

    font-size: 13px;
    font-family: primaryfontregular;

    .comment--namedates{
        display: flex;
        justify-content: space-between;
        margin-left: 50px;

        .comment--names{
            font-weight: bold;
        }

        .comment--dates{
            color: #afafaf
        }
    }

    .backgroundavatar{
        float: left;
        max-width: 36px;
        background-color: #E1E1E1;
        height: 36px;
        border-radius: 50%;
        position: relative;
        top: 12px;
    }

    
    .comment--body{
        margin: 0 0 0 50px;
    }

    .likes{
        margin: 8px 0 8px 50px;
    }
    
}

.comment-section{
    display: flow-root;
}

@media (min-width: $tablet) {
    .heroimage--h1{
        font-size: 60px;
        font-weight: 700;
        margin: 175px 0 0 24px;
        line-height: 68px;
    }

    .mainbio {
        margin: 36px;
    }

    .mainbio--h1{
        font-size: 36px;
        line-height: 44px;
    }
    .mainbio--container {
        margin: 0 36px ;
    }

    .mainbio--quote {
        font-size: 24px;
        line-height: 32px;
    }

    .mainbio--quote2 {
        font-size: 18px;
        line-height: 22px;
    }

    .mainbio--para{
        column-count: 2;
        display: flex;
        gap: 50px;
        font-size: 14px;
        // inline-size: 32px;
        line-height: 22px;
    }

    .mainbio--heading {
        font-size: 24px;
        line-height: 32px;
    }

    .photos--sizing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .photos--sizing img {
        width: 28%;
        margin-bottom: 0px;
        // padding: 0 20px;
        padding: 12px;
        // margin-bottom: 12px;
    }

    .photos {
        margin: 0;
        background-color: #FAFAFA;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .photos h1 {
        margin-left: 36px;
        font-size: 36px;
    }

    #form {
        margin: 20px 36px 0px;
    
        .form--h1 {
            font-family: primaryfontdemi;
            font-size: 36px;
        }
        
    }

    #comments, #name {
        width: 110%;
    }

    form {
        margin: 0 116px 0 116px;
    }

    .leftPanelImg {
        width: 48px;
        height: 48px;
        float: left;
        position: relative;
        bottom: -10px;
        margin-left: 64px;
        
    
        img {
            width: 82%;
            border-radius: 50%;
            height: 36px;
        }
    
        span {
            img {
                position: relative;
                bottom: -10px;
            }
        }
        
    }

    

    

    #commentcontainer1 {
        margin: 0 100px;
    }

    .addAComment {
        width: 30%;
        border-radius: 5%;
        position: relative;
        left: 81%;
    
    }
}



@media (min-width: $desktop) {
        .heroimage--h1 {
            margin: 128px 0 0 120px;
            
        }
        
        .mainbio {
            margin: 24px 128px 16px;
        }

        .mainbio--container {
            margin: 0 70px ;
        }

        .mainbio--container img {
            min-height: fit-content;
            max-height: 500px;
            object-fit: cover;
            object-position: bottom;
        }

        .photos h1 {
            margin-left: 128px;
        }
    
        .photos--sizing {
            margin: 0 60px;
        }

        .mainbio--quote {
            max-width: 81%;
        }

        #form {
            margin: 20px 128px 0px;
        
            .form--h1 {
                font-family: primaryfontregular;
                font-size: 36px;
            }
            #name{
                height: 60px;
            }
            
        }
    
        form {
            margin: 0 349px 0 385px;
        }
    
        .leftPanelImg {
            max-width: 48px;
            max-height: 48px;
            float: left;
            position: relative;
            bottom: -10px;
            margin-left: 266px;
            
        
            img {
                width: 100%;
                border-radius: 50%;
                
            }
        
            span {
                img {
                    position: relative;
                    bottom: -10px;
                    height: 146%;
                    width: 155%;
                    left: 30px;
                }
            }
        }
    
        .rightPanel {
            margin-left: 1%;
            width: 50%;
        }
        #commentcontainer1{
            margin: 0 426px 0 426px;
            .backgroundavatar{
                height: 70px;
                max-width: 70px;
            }

            .comment--namedates{
                margin-left: 84px;
            }
            .comment--body{
                margin: 0 0 0 84px;
            }

            .likes{
                margin: 8px 0 8px 84px;
            }
        }
}



