$headerfooterbkgoundcolor: #323232;
$primaryfontcolor: #ffffff;
$secondaryfontcolor:#323232;
$tablet: 768px;
$desktop: 1280px;
$fontcoloronwhite: #323232;

@font-face {
    font-family: primaryfontregular;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: primaryfontbold;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: primaryfontdemi;
    src: url("../3.0\ -\ Assets/font/AvenirNextLTPro-Demi.otf");
}
.showsheaderbar{
    display: none;
}

.heroshowsimage {
    margin-bottom: -24px;
    display: flex;
    background-color: #323232;
    flex-wrap: wrap;

    img {
        width: 100%;
        opacity: 50%;
    }

    .soundcloud {
        position: relative;
        top: -130px;
        margin: 0 auto;
        width: 92%;
        margin-bottom: -104px;
    }

    h3 {
        position: absolute;
        top: 107px;
        left: 16px;
        color: $primaryfontcolor;
        font-family: primaryfontregular;
        z-index: 1;
        font-weight: 400;
        font-size: 16px;
    }

    .heroimage--h1{

        position: absolute;
        top: 150px;
        color: #ffffff;
        margin-left: 16px;
        z-index: 1;
        font-size: 24px;
        font-family: primaryfontregular;
    }
    
}

.showdates {
    padding-top: 36px;
    padding-bottom: 24px;

    h1 {
        margin-left: 16px;
        font-family: primaryfontdemi;
    }


    #showdates--containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        button {
        background-color: #323232;
        color: $primaryfontcolor;
        font-family: primaryfontregular;
        border: none;
        border-radius: 4%;
        width: 100%;
        margin: 0 auto;
        font-size: 10px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        }  
        
        .showsheaderbar{
            display: none;
        } 

        .shows--header {
            color: #AFAFAF;
            font-family: primaryfontregular;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            

        }

        .shows--venuedateplace {
            font-family: primaryfontregular;
            font-size: 13px;
            border: none;
            padding: 16px;
            width: 90%;
            .shows--date{
                font-weight: bold;
            }
        }

        .show--date{
            font-weight: 700;
        }

        .underline{
            border-bottom: solid 1px #AFAFAF;
            opacity: 50%;
            width: 100%;
        }
    }

    
}
@media (min-width: $tablet) {
    .heroshowsimage{
    
        img {
        background-position: center;
        background-size: cover;
        max-height: 520px;
        min-height: 450px;
        min-width: 100%;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        }

        h3 {
            font-size: 24px;
            font-family: primaryfontdemi;
            left: 40px;
            top: 145px;
        }
    
        .heroimage--h1{
            font-size: 60px;
            font-weight: 700;
            margin: 175px 0 0 40px;
            line-height: 68px;
            top: 44px;
        }

        .soundcloud{
            top: -219px;
            left: 10px;
            margin-bottom: -155px;
         
            iframe{
                height: 150px;
                width: 60%;
            }
        }
        
    }
    .shows--header:not(.shows--header ~ .shows--header) {
        display: none;
    }

    .showsheaderbar{
        display: flex;
        justify-content: space-between;
        width: 53%;
        margin-left: 41px;
        text-transform: uppercase;
        font-family: primaryfontregular;
        font-size: 16px;
        color: #AFAFAF;
        font-weight: bold;
    } 

    .showdates{
    
        h1 {
            margin-left: 36px;
            font-size: 36px;
            font-family: primaryfontdemi;
        }

        #showdates--containers{
            margin: 0 24px 0 24px;
            .shows--venuedateplace{
                width: 96%;
                display: flex;
                justify-content: space-between;
                button {
                    width: 25%;
                    margin: 0;
                }
            }
        }
    
}
}


@media (min-width: $desktop) {


    .showdates{
        padding-top: 100px;
        margin-left: 200px;

        p{
            font-size: 14px;
            line-height: 22px;
        }

        h1 {
            margin-left: 124px;
            font-size: 60px;
            font-family: primaryfontdemi;
            position: absolute;
            top: 760px;
            left: -25px;
        }

        .showsheaderbar{
            width: 42%;
            position: relative;
            left: 161px;
        }
        
        #showdates--containers{
            width: 80%;
            position: relative;
            right: -160px;
        }
        
        
    }
    
    
    .heroshowsimage{

        

        h3 {
            font-size: 24px;
            font-family: primaryfontdemi;
            left: 130px;
            top: 210px;
        }
    
        .heroimage--h1{
            font-size: 60px;
            font-weight: 700;
            margin: 175px 0 0 124px;
            line-height: 68px;
            top: 119px;
        }

        img{
            max-height: 660px;
            
        }

        .soundcloud{
            top: -480px;
            left: 400px;
            margin-bottom: -155px;
            width: 50%;
         
            iframe{
                height: 150px;
                width: 60%;
            }
        }
    }
}