@font-face {
  font-family: primaryfontregular;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: primaryfontbold;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: primaryfontdemi;
  src: url("../3.0 - Assets/font/AvenirNextLTPro-Demi.otf");
}
.showsheaderbar {
  display: none;
}

.heroshowsimage {
  margin-bottom: -24px;
  display: flex;
  background-color: #323232;
  flex-wrap: wrap;
}
.heroshowsimage img {
  width: 100%;
  opacity: 50%;
}
.heroshowsimage .soundcloud {
  position: relative;
  top: -130px;
  margin: 0 auto;
  width: 92%;
  margin-bottom: -104px;
}
.heroshowsimage h3 {
  position: absolute;
  top: 107px;
  left: 16px;
  color: #ffffff;
  font-family: primaryfontregular;
  z-index: 1;
  font-weight: 400;
  font-size: 16px;
}
.heroshowsimage .heroimage--h1 {
  position: absolute;
  top: 150px;
  color: #ffffff;
  margin-left: 16px;
  z-index: 1;
  font-size: 24px;
  font-family: primaryfontregular;
}

.showdates {
  padding-top: 36px;
  padding-bottom: 24px;
}
.showdates h1 {
  margin-left: 16px;
  font-family: primaryfontdemi;
}
.showdates #showdates--containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showdates #showdates--containers button {
  background-color: #323232;
  color: #ffffff;
  font-family: primaryfontregular;
  border: none;
  border-radius: 4%;
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.showdates #showdates--containers .showsheaderbar {
  display: none;
}
.showdates #showdates--containers .shows--header {
  color: #AFAFAF;
  font-family: primaryfontregular;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
.showdates #showdates--containers .shows--venuedateplace {
  font-family: primaryfontregular;
  font-size: 13px;
  border: none;
  padding: 16px;
  width: 90%;
}
.showdates #showdates--containers .shows--venuedateplace .shows--date {
  font-weight: bold;
}
.showdates #showdates--containers .show--date {
  font-weight: 700;
}
.showdates #showdates--containers .underline {
  border-bottom: solid 1px #AFAFAF;
  opacity: 50%;
  width: 100%;
}

@media (min-width: 768px) {
  .heroshowsimage img {
    background-position: center;
    background-size: cover;
    max-height: 520px;
    min-height: 450px;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .heroshowsimage h3 {
    font-size: 24px;
    font-family: primaryfontdemi;
    left: 40px;
    top: 145px;
  }
  .heroshowsimage .heroimage--h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 175px 0 0 40px;
    line-height: 68px;
    top: 44px;
  }
  .heroshowsimage .soundcloud {
    top: -219px;
    left: 10px;
    margin-bottom: -155px;
  }
  .heroshowsimage .soundcloud iframe {
    height: 150px;
    width: 60%;
  }

  .shows--header:not(.shows--header ~ .shows--header) {
    display: none;
  }

  .showsheaderbar {
    display: flex;
    justify-content: space-between;
    width: 53%;
    margin-left: 41px;
    text-transform: uppercase;
    font-family: primaryfontregular;
    font-size: 16px;
    color: #AFAFAF;
    font-weight: bold;
  }

  .showdates h1 {
    margin-left: 36px;
    font-size: 36px;
    font-family: primaryfontdemi;
  }
  .showdates #showdates--containers {
    margin: 0 24px 0 24px;
  }
  .showdates #showdates--containers .shows--venuedateplace {
    width: 96%;
    display: flex;
    justify-content: space-between;
  }
  .showdates #showdates--containers .shows--venuedateplace button {
    width: 25%;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .showdates {
    padding-top: 100px;
    margin-left: 200px;
  }
  .showdates p {
    font-size: 14px;
    line-height: 22px;
  }
  .showdates h1 {
    margin-left: 124px;
    font-size: 60px;
    font-family: primaryfontdemi;
    position: absolute;
    top: 760px;
    left: -25px;
  }
  .showdates .showsheaderbar {
    width: 42%;
    position: relative;
    left: 161px;
  }
  .showdates #showdates--containers {
    width: 80%;
    position: relative;
    right: -160px;
  }

  .heroshowsimage h3 {
    font-size: 24px;
    font-family: primaryfontdemi;
    left: 130px;
    top: 210px;
  }
  .heroshowsimage .heroimage--h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 175px 0 0 124px;
    line-height: 68px;
    top: 119px;
  }
  .heroshowsimage img {
    max-height: 660px;
  }
  .heroshowsimage .soundcloud {
    top: -480px;
    left: 400px;
    margin-bottom: -155px;
    width: 50%;
  }
  .heroshowsimage .soundcloud iframe {
    height: 150px;
    width: 60%;
  }
}/*# sourceMappingURL=shows.css.map */